$mobile: 425px;  
$small: 576px;
$medium: 768px;
$large: 992px;
$extral: 1200px;

//// add inline media
////   @media #{$pxs} {}
//$pxs: "screen and (max-width: 425px)";
////   @media #{$xs} {} 
//$xs: "screen and (min-width: 425px)";
////   @media #{$sm} {}
//$sm: "screen and (min-width: 576px)";
////   @media #{$md} {}
//$md: "screen and (min-width: 768px)";
////   @media #{$lg} {}
//$lg: "screen and (min-width: 992px)";
////   @media #{$xl} {}
//$xl: "screen and (min-width: 1200px)";

@media screen and (min-width: $mobile) {
}
@media screen and (min-width: $small) {
}
@media screen and (min-width: $medium) {
    .header {
        background-position: center;
        background-size: auto;
        background-size: cover;
        
        &-list {
            margin-top: 50px;
            padding: 0;
            height: auto;
            overflow: visible;
            
            &__item {
                min-width: 10%;

                &-img {
                    transform: translateY(-50%);
                }
                
                &-title {
                    transform: translateY(-25%);
                }

                &:hover {
                    .header-list__item-img {
                        transform: scale(1.6) translateY(-50%);
                    }
                }
            }
            
            &__open {
                display: none;
            } 
        }
    }
    
    .main {
        margin: 20px 0;
        overflow: hidden;
    }
    
    .home {    
    &-row {
        margin-top: 15px;
        margin-bottom: 30px;
        
        &__item {            
            &-small {
                margin: 0;
                min-height: 150px;
                
                &:nth-child(2) {
                    margin: 15px 0;
                }
            }
        }
    }
}
}
@media screen and (min-width: $large) {
    .news-item {
        &__img {
            max-height: 200px;
        }
    }
}
@media screen and (min-width: $extral) {
    .aside {
        width: 320px;
        flex: 0 0 320px;
    }
    
    .news-item {
        &__img {
            max-height: 250px;
        }
    }
}

@media screen and (max-width: $medium) {
    
}