$mobile: 425px;  
$small: 576px;
$medium: 768px;
$large: 992px;
$extral: 1200px;

//// add inline media
////   @media #{$pxs} {}
//$pxs: "screen and (max-width: 425px)";
////   @media #{$xs} {} 
//$xs: "screen and (min-width: 425px)";
////   @media #{$sm} {}
//$sm: "screen and (min-width: 576px)";
////   @media #{$md} {}
//$md: "screen and (min-width: 768px)";
////   @media #{$lg} {}
//$lg: "screen and (min-width: 992px)";
////   @media #{$xl} {}
//$xl: "screen and (min-width: 1200px)";

@media screen and (min-width: $mobile) {
}
@media screen and (min-width: $small) {
}
@media screen and (min-width: $medium) {
    .header {
        &-list {

            &__item {
                min-width: 10%;

                &-img {
                    transform: translateY(-50%);
                }

                &:hover {
                    .header-list__item-img {
                        transform: scale(1.6) translateY(-50%);
                    }
                }
            }
        }
    }
}
@media screen and (min-width: $large) {
}
@media screen and (min-width: $extral) {
}

@media screen and (max-width: $medium) {
      
}