@charset "UTF-8";
@font-face {
  font-family: "RobotoSlabRegular";
  src: url("../fonts/RobotoSlabRegular/robotoslab-regular.eot");
  src: url("../fonts/RobotoSlabRegular/robotoslab-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoSlabRegular/robotoslab-regular.woff") format("woff"), url("../fonts/RobotoSlabRegular/robotoslab-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "RobotoSlabBold";
  src: url("../fonts/RobotoSlabBold/robotoslab-bold.eot");
  src: url("../fonts/RobotoSlabBold/robotoslab-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoSlabBold/robotoslab-bold.woff") format("woff"), url("../fonts/RobotoSlabBold/robotoslab-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "RobotoLight";
  src: url("../fonts/RobotoLight/roboto-light.eot");
  src: url("../fonts/RobotoLight/roboto-light.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoLight/roboto-light.woff") format("woff"), url("../fonts/RobotoLight/roboto-light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "MyriadProRegular";
  src: url("../fonts/MyriadProRegular/myriadpro-regular.eot");
  src: url("../fonts/MyriadProRegular/myriadpro-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProRegular/myriadpro-regular.woff") format("woff"), url("../fonts/MyriadProRegular/myriadpro-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Neucha";
  src: url("../fonts/Neucha/neucha.eot");
  src: url("../fonts/Neucha/neucha.eot?#iefix") format("embedded-opentype"), url("../fonts/Neucha/neucha.woff") format("woff"), url("../fonts/Neucha/neucha.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "BickhamScriptOne";
  src: url("../fonts/BickhamScriptOne/bickham-script-one.eot");
  src: url("../fonts/BickhamScriptOne/bickham-script-one.eot?#iefix") format("embedded-opentype"), url("../fonts/BickhamScriptOne/bickham-script-one.woff") format("woff"), url("../fonts/BickhamScriptOne/bickham-script-one.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "OpenSansRegular";
  src: url("../fonts/OpenSansRegular/opensans-regular.eot");
  src: url("../fonts/OpenSansRegular/opensans-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansRegular/opensans-regular.woff") format("woff"), url("../fonts/OpenSansRegular/opensans-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "OpenSansLight";
  src: url("../fonts/OpenSansLight/opensans-light.eot");
  src: url("../fonts/OpenSansLight/opensans-light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansLight/opensans-light.woff") format("woff"), url("../fonts/OpenSansLight/opensans-light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "OpenSansSemibold";
  src: url("../fonts/OpenSansSemibold/opensans-semibold.eot");
  src: url("../fonts/OpenSansSemibold/opensans-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansSemibold/opensans-semibold.woff") format("woff"), url("../fonts/OpenSansSemibold/opensans-semibold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "OpenSansBold";
  src: url("../fonts/OpenSansBold/opensans-bold.eot");
  src: url("../fonts/OpenSansBold/opensans-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansBold/opensans-bold.woff") format("woff"), url("../fonts/OpenSansBold/opensans-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "OpenSansExtrabold";
  src: url("../fonts/OpenSansExtrabold/opensans-extrabold.eot");
  src: url("../fonts/OpenSansExtrabold/opensans-extrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansExtrabold/opensans-extrabold.woff") format("woff"), url("../fonts/OpenSansExtrabold/opensans-extrabold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "MontserratBold";
  src: url("../fonts/MontserratBold/montserrat-bold.eot");
  src: url("../fonts/MontserratBold/montserrat-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/MontserratBold/montserrat-bold.woff") format("woff"), url("../fonts/MontserratBold/montserrat-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "MontserratLight";
  src: url("../fonts/MontserratLight/montserrat-light.eot");
  src: url("../fonts/MontserratLight/montserrat-light.eot?#iefix") format("embedded-opentype"), url("../fonts/MontserratLight/montserrat-light.woff") format("woff"), url("../fonts/MontserratLight/montserrat-light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "MontserratMedium";
  src: url("../fonts/MontserratMedium/montserrat-medium.eot");
  src: url("../fonts/MontserratMedium/montserrat-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/MontserratMedium/montserrat-medium.woff") format("woff"), url("../fonts/MontserratMedium/montserrat-medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "MontserratRegular";
  src: url("../fonts/MontserratRegular/montserrat-regular.eot");
  src: url("../fonts/MontserratRegular/montserrat-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MontserratRegular/montserrat-regular.woff") format("woff"), url("../fonts/MontserratRegular/montserrat-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* Библиотека адаптивных шрифтов:
---- Для того чтобы задать размер шрифта, необходимо:
---- добавить миксин с набором в классу, в виде:

@include fontSize10, 
    где цирфа на конце указывает на размер шрифта при разрешении от 1200px

На данный момент в библиотеке есть настройки под 9 актуальных размеров шрифта:
@include fontSize11
@include fontSize12
@include fontSize14
@include fontSize16
@include fontSize18
@include fontSize20
@include fontSize22
@include fontSize24
@include fontSize28
@include fontSize30
@include fontSize36
@include fontSize72
@include fontSize120
*/
/* ======================== Заготовки и переменные ========================= */
/* ============================== global css =============================== */
* {
  margin: 0;
  padding: 0;
  cursor: default; }

h1 {
  margin: 1em 0;
  font-family: "MontserratMedium", sans-serif;
  font-size: 2em; }

h2 {
  margin: 1em 0;
  font-family: "MontserratMedium", sans-serif;
  font-size: 1.8em; }

h3 {
  margin: 1em 0;
  font-family: "MontserratRegular", sans-serif;
  font-size: 1.5em; }

body {
  min-height: 100vh;
  font-family: "MontserratRegular", sans-serif;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d8dee5), to(#a8d0e3));
  background-image: linear-gradient(to bottom, #d8dee5 0%, #a8d0e3 100%); }
  @media screen and (max-width: 425px) {
    body {
      font-size: 8px; } }
  @media screen and (max-width: 576px) {
    body {
      font-size: 9px; } }
  @media screen and (min-width: 576px) {
    body {
      font-size: 10px; } }
  @media screen and (min-width: 768px) {
    body {
      font-size: 11px; } }
  @media screen and (min-width: 992px) {
    body {
      font-size: 12px; } }
  @media screen and (min-width: 1200px) {
    body {
      font-size: 12px; } }
  body a {
    color: black;
    text-decoration: none;
    cursor: pointer; }
    body a * {
      cursor: pointer; }
  body button {
    cursor: pointer; }
    body button * {
      cursor: pointer; }

.white-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 1; }

.header {
  padding-top: 15px;
  background-image: url(../img/header_bgi.jpg);
  background-position: top;
  background-size: 100% 136px;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0; }
  .header-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    z-index: 2; }
  .header-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 15px;
    background-color: rgba(45, 166, 197, 0.75);
    position: relative;
    z-index: 2;
    padding: 0;
    height: 0px;
    -webkit-transition: .3s;
    transition: .3s;
    overflow: hidden; }
    .header-list__item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      min-width: 33%; }
      .header-list__item-img {
        width: 55px;
        height: 55px;
        border: 2px solid #2da6c5;
        border-radius: 50%; }
        .header-list__item-img img {
          width: 100%; }
      .header-list__item-title {
        text-align: center;
        color: #fff;
        text-transform: uppercase; }
      .header-list__item:hover .header-list__item-title {
        font-family: "MontserratMedium", sans-serif; }
    .header-list.active {
      height: 280px;
      padding: 15px 0; }
    .header-list__open {
      background-color: rgba(45, 166, 197, 0.75);
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 30px;
      border: 1px solid #fff;
      border-left: none;
      border-right: none;
      color: #fff;
      outline: none; }

.main {
  margin: 40px 0 20px;
  overflow: hidden; }

.aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  color: #fff; }
  .aside > * {
    width: 100%;
    background-color: rgba(45, 166, 197, 0.75); }
    .aside > *:nth-child(2n) {
      margin: 2vw 0; }
  .aside-nav {
    padding: 15px 0; }
    .aside-nav__item {
      list-style-type: none; }
      .aside-nav__item-link {
        padding: 0 10px 0 20px;
        margin: 5px 0;
        display: block;
        color: #fff;
        font-size: 1.5em; }
        .aside-nav__item-link:hover {
          font-family: "MontserratMedium", sans-serif; }
  .aside-contacts {
    text-align: right;
    padding: 15px 20px 15px 0;
    font-family: "MontserratMedium", sans-serif;
    font-size: 1.33em; }
    .aside-contacts__phones {
      margin: 2vw 0; }
  .aside-banner {
    display: block; }
    .aside-banner img {
      width: 100%; }
  .aside-converter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px 15px;
    font-size: 1.2em; }
    .aside-converter span {
      margin: 0 15px; }
  .aside-weather {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .aside-weather__btn {
      display: block;
      text-align: center;
      margin: 10px 0;
      width: 190px;
      height: 30px;
      border-radius: 15px;
      background-color: #fff;
      line-height: 30px;
      color: #000; }

.footer p {
  margin: 1vw 0; }

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  background-color: rgba(169, 169, 169, 0.59);
  z-index: 100;
  display: none; }
  .modal.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .modal-close {
    position: absolute;
    top: 1%;
    right: 2%;
    font-size: 2em;
    line-height: 0;
    color: rgba(45, 166, 197, 0.75);
    z-index: 105; }
  .modal-converter {
    display: none;
    width: 100%;
    max-width: 300px;
    max-height: 306px;
    background-color: #fff;
    position: relative;
    border-radius: 5px;
    z-index: 101; }
    .modal-converter.active {
      display: block; }
  .modal-gallery {
    display: none;
    width: 100%;
    max-width: 800px;
    max-height: 80%;
    background-color: #fff;
    position: relative;
    z-index: 101; }
    .modal-gallery.active {
      display: block; }
    .modal-gallery__arrow {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      width: 20%;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      font-size: 2em;
      line-height: 0;
      color: rgba(45, 166, 197, 0.75);
      z-index: 103; }
      .modal-gallery__arrow-right {
        left: auto;
        right: 0; }
    .modal-gallery__pull img {
      width: 100%;
      display: none; }
    .modal-gallery__pull img.active {
      display: block; }

.open-btn {
  width: 50%;
  max-width: 240px;
  height: 40px;
  font-family: "MontserratRegular", sans-serif;
  font-size: 1.5em;
  background-color: #2da6c5;
  color: #fff;
  border: none;
  margin-bottom: 15px; }

/* ============================== homepage css ============================= */
.home-slider {
  position: relative; }
  .home-slider__items {
    height: 20vw;
    max-height: 250px;
    overflow: hidden; }
    .home-slider__items img {
      display: none;
      width: 100%; }
      .home-slider__items img.active {
        display: block; }
  .home-slider__controls {
    z-index: 10;
    position: absolute;
    bottom: 10%;
    left: 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .home-slider__controls-dot {
      width: 3vw;
      height: 3vw;
      max-width: 15px;
      max-height: 15px;
      border: 2px solid #fff;
      margin: 0 5px; }
      .home-slider__controls-dot.active {
        background-color: #fff; }
.home-row {
  margin-top: 15px;
  margin-bottom: 30px; }
  .home-row:nth-child(2n) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
  .home-row__item {
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; }
    .home-row__item-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(169, 169, 169, 0.59); }
    .home-row__item-info {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      display: none;
      padding: 12.5%;
      color: #000;
      text-shadow: 1px 2px 3px rgba(169, 169, 169, 0.59);
      font-family: "MontserratBold", sans-serif;
      font-size: 1.4em; }
    .home-row__item:hover .wrapper {
      display: none; }
    .home-row__item:hover .info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .home-row__item-big {
      height: 100%;
      min-height: 300px; }
    .home-row__item-small {
      margin: 15px 0;
      height: 30%;
      min-height: 90px; }
      .home-row__item-small:nth-child(2) {
        margin: 5% 0; }
    .home-row__item img {
      width: 100%; }

/* ============================== newspage css ============================= */
.news-item {
  background-color: rgba(255, 255, 255, 0.75);
  margin-bottom: 15px; }
  .news-item__img {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-height: 150px;
    overflow: hidden; }
    .news-item__img img {
      width: 100%; }
  .news-item__text {
    padding: 0 15px 15px;
    max-height: 150px;
    font-size: 1.2em;
    line-height: 1.4em; }
    .news-item__text-desc {
      max-height: 4.2em;
      overflow: hidden; }
    .news-item__text-link {
      display: inline-block;
      width: 100%;
      text-align: right;
      color: #2da6c5; }
.news .hidden-block {
  display: none; }

/* ============================== tourspage css ============================= */
.tour-item {
  display: block;
  margin-bottom: 15px; }
  .tour-item__title {
    font-size: 1.2em;
    line-height: 1.5em;
    height: 3em;
    text-align: center;
    display: block;
    width: 100%;
    color: #fff;
    background-color: #2da6c5; }
  .tour-item__img {
    width: 100%;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 150px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
.tour .all-tours > div:nth-child(n+7) {
  display: none; }

/* ============================== contacts css ============================= */
.contacts-info {
  font-size: 1.4em;
  margin: 2em 0; }
  .contacts-info__item {
    margin: 1em 0; }

/* ============================== excurs css ============================= */
.excurs-content {
  background-color: #fff; }
  .excurs-content__img img {
    width: 100%; }
  .excurs-content__item {
    display: none;
    padding: 15px 10px 15px 20px;
    text-align: justify;
    font-size: 1.2em;
    line-height: 1.5em; }
    .excurs-content__item.active {
      display: block; }
  .excurs-content__triggers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .excurs-content__triggers-btn {
      width: 140px;
      max-width: 30%;
      height: 33px;
      background-color: #fff;
      border: 2px solid #2da6c5;
      outline: none; }
      .excurs-content__triggers-btn.active {
        color: #fff;
        background-color: #2da6c5; }
  .excurs-content__price-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .excurs-content__desc-gallery {
    margin: 30px 0 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .excurs-content__desc-gallery img {
      width: 17%;
      height: 10vw;
      margin-bottom: 1vw; }

@media screen and (min-width: 768px) {
  .header {
    background-position: center;
    background-size: auto;
    background-size: cover; }
    .header-list {
      margin-top: 50px;
      padding: 0;
      height: auto;
      overflow: visible; }
      .header-list__item {
        min-width: 10%; }
        .header-list__item-img {
          -webkit-transform: translateY(-50%);
                  transform: translateY(-50%); }
        .header-list__item-title {
          -webkit-transform: translateY(-25%);
                  transform: translateY(-25%); }
        .header-list__item:hover .header-list__item-img {
          -webkit-transform: scale(1.6) translateY(-50%);
                  transform: scale(1.6) translateY(-50%); }
      .header-list__open {
        display: none; }

  .main {
    margin: 20px 0;
    overflow: hidden; }

  .home-row {
    margin-top: 15px;
    margin-bottom: 30px; }
    .home-row__item-small {
      margin: 0;
      min-height: 150px; }
      .home-row__item-small:nth-child(2) {
        margin: 15px 0; } }
@media screen and (min-width: 992px) {
  .news-item__img {
    max-height: 200px; } }
@media screen and (min-width: 1200px) {
  .aside {
    width: 320px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 320px;
            flex: 0 0 320px; }

  .news-item__img {
    max-height: 250px; } }
